$break-md: 400px
$break-lg: 800px

$icon-sm: 50px
$icon-md: 75px
$icon-lg: 100px

$title-sm: 100px
$title-md: 150px
$title-lg: 200px

$color-stream: rgb(95, 186, 125)
$color-nostream: pink

.twitch
    max-width: $break-lg
    margin: 0 auto

h1
    text-align: center

.entry
    background: $color-nostream
    border: 1px solid black
    margin: 16px 0
    display: flex
    align-items: center

    img
        border-right: 1px solid black
    h3
        margin: 0
        padding: 0 0 0 8px
    div
        width: 100%
        border-left: 1px solid black
        padding: 0 24px 0 8px

        p
            margin-top: 8px
            overflow: hidden
            line-height: 1.2em
            max-height: 2.4em
            position: relative
            margin-right: -1em
            padding-right: 1em

            &:before
                position: absolute
                content: '...'
                right: 0
                bottom: 0
            &:after
                position: absolute
                content: ''
                right: 0
                width: 1em
                height: 1em
                margin-top: 0.2em
                background: $color-nostream


    // Responsive
    //
    flex-flow: row wrap
    img
        width: $icon-sm
    h3
        flex: 0 0 $title-sm
    div
        height: $icon-sm
        border-top: 1px solid black

    @media screen and (min-width: $break-md)
        flex-flow: row nowrap
        img
            width: $icon-md
        h3
            flex: 0 0 $title-md
        div
            height: $icon-md
            border-top: none
            p
                max-height: 3.6em

    @media screen and (min-width: $break-lg)
        flex-flow: row nowrap
        img
            width: $icon-lg
        h3
            flex: 0 0 $title-lg
        div
            height: $icon-lg
            border-top: none
            p
                max-height: 4.8em

.streaming
    background: $color-stream
    color: white

.streaming
    div
        p
            &:after
                background: $color-stream

pre
    white-space: pre-wrap
