.twitch
    max-width: 700px
    margin: 0 auto

h1
    background: cyan
    text-align: center

.entry
    max-height: 96px
    background: magenta
    border: '1px solid black'
    
    margin: 8px

    display: flex

    img
        width: 96px

    h3
        flex: 1 0 25%
        tex-align: center
        background: yellow

pre
    white-space: pre-wrap
