<div class="html" ng-app="myApp">
  <div class="body">

    <div class="twitch row" ng-controller="TabController as tab">
      <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1) }"><a href ng-click="tab.setTab(1)">All!</a></li>
        <li ng-class="{ active: tab.isSet(2) }"><a href ng-click="tab.setTab(2)">Online</a></li>
        <li ng-class="{ active: tab.isSet(3) }"><a href ng-click="tab.setTab(3)">Offline</a></li>
      </ul>

      Search: <input ng-model="search.name">

      <div class="twitchlist" ng-controller="ListController">

        <div class=""  ng-show="tab.isSet(1)">
          <ul>
            <li ng-repeat="user in users | filter: search">  <!--  | filter:search -->
              <h1>{{user.user}}</h1>
              <img ng-src="{{user.logo}}" alt="" style="width:32px;"/>
              <b style="font-size:150%;">{{user.display_name}}</b>
              <p>{{user.bio}}</p>
            </li>
          </ul>
        </div>

        <div class="" ng-show="tab.isSet(2)">
          <ul>
            <li ng-repeat="user in users | filter: search | filter:{online:true}">
              <img ng-src="{{user.logo}}" alt="" style="width:32px;"/>
              <b style="font-size:150%;">{{user.display_name}}</b>
              <p>{{user.bio}}</p>
            </li>
          </ul>
        </div>

        <div class="" ng-show="tab.isSet(3)">
          <ul>
            <li ng-repeat="user in users | filter: search | filter:{online:false}">
              <img ng-src="{{user.logo}}" alt="" style="width:32px;"/>
              <b style="font-size:150%;">{{user.display_name}}</b>
              <p>{{user.bio}}</p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
